* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 50px;
}

.page-content {
    flex: 1;
}

footer {
    min-height: 50px;
}

h1 {
    font-size: 3rem;
}

.section-header {
    margin: 5vh;
    font-size: 2rem;
    padding-top: 10vh;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
}


hr {
    border: none;
    height: 1px;
    background-color: #d3d3d3;
    margin-top: 30px;
    margin-bottom: 30px;
  }

.section {
    margin: 5vh auto;
    text-align: center;
}



@media (max-width: 500px) {

    h1 {
        font-size: 2.5rem;
    }


}




/* Navbar */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: #FFFF;
    position: fixed;
    width: 100%;
    z-index: 1000;
}



.img-logo {
    width: 200px;
    height: auto;
    padding: 14px 0 5px;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style-type: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #FFFF;
    font-size: 1.5rem;
    display: block;
    padding: 1.2rem 2rem;
}

.navbar-links li:hover {
    background-color: rgb(54, 53, 53);
}

/* button */
.toggle-button {
    position: absolute;
    top: 1.7rem;
    right: 1.2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.toggle-button:focus {
    outline: none;
}

/* button img */
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #FFFF;
    border-radius: 10px;
}


  


@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        /*padding: 10px 10px 0px;*/
    }

    .img-logo {
        padding-left: 5px;
    }

    .toggle-button {
        display: flex;
    }

    /* links-bar showed when button clicked, are hidden(display:none) */
    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    /* add lines between each link*/
    .navbar-links li:first-child {
        border-top: 1px solid rgb(157, 156, 156, 0.3);
      }
    .navbar-links li a {
        text-decoration: none;
        color: #FFFF;
        font-size: 1.5rem;
        display: block;
        padding: 1.2rem 2rem;
        border-bottom: 0.5px solid rgb(157, 156, 156, 0.3);
      }
      


    /* class that shows the links after toggle clicked. Check js-file  */
    .navbar-links.active {
        display: flex;
        animation-name: fade-in;
        animation-duration: 0.8s;

    }

}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* Banner */

.banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/accounting.webp);
    background-size: cover;
    background-position: center;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-text {
    color: white;
    opacity: 0;
    max-width: 70%;
    padding: 0 10px;
    margin: 0 auto;
}

.banner-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #da7a31;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.305);
    transition: background-color 0.2s ease-in-out;
    margin-top: 2vh;
    font-weight: 500;

}

.banner-btn:hover {
    background-color: #fff;
    color: #bc5b12;
}


/* animation banner text */
.banner-text.show {
    transition: opacity 0.5s ease-in-out 0.5s;
    opacity: 1;
}

@media screen and (max-width: 480px) {
    .banner-text {
        font-size: 0.8rem;
        max-width: 90%;
        padding: 0 5px;
        line-height: 1.2;
    }
}



/* Services section*/
/* services */
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.offer-item {
    width: 250px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.offer-item.fade-in-offer {
    opacity: 1;
}

.offer-item img {
    width: 170px;
    height: auto;
}

.offer-item h3 {
    margin-top: 15px;
    font-size: 1.5rem;
}

.offer-item p {
    font-size: 1.2rem;
}





/*Price section*/

/* prices */
#priser {
    margin: auto 2vh;
}

.prices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.price-card {
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    height: auto;
    padding: 20px;
    transition: all 0.2s ease-in-out;

}

.price-card:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.price-card>h3 {
    color: #da7a31;
    font-size: 2rem;
}

/*
    rgb(255, 165, 0)
    rgb(0, 255, 0)
    */

.price-card li {
    font-size: 1.2rem;
    padding: 5px 4px;
    list-style-type: none;
    color: #555;
}

.price-card ul {
    height: 65%;
    /* for aligning buttons horizontally */
}


.pricecard-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #da7a31;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.305);
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 10vh;
    font-weight: 500;
}

.pricecard-btn:hover {
    background-color: #fff;
    color: #bc5b12;
    border: 2px solid #bc5b12;


}



/* table price */
.table-wrapper {
    overflow-x: auto;
    margin-top: 10vh;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 600px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

table:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #eee;
    font-size: 1.4rem;
}

td {
    border-bottom: 2px solid #ddd;
    font-size: 1.2rem;
    color: #555;
}

th:last-child,
td:last-child {
    text-align: right;
}



/*Timeline*/

#timeline-section {
    overflow-x: hidden;
}

/* The actual timeline */
.timeline {
    position: relative;
    max-width: 1000px;
    margin: 30px auto;
}

/* Starting circle */
.timeline::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 2px solid #FF9F55;
    transform: translateY(-50%);
    z-index: 1;
    left: calc(50% - 11px);
}


/* The vertical ruler */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: -16px;
    left: 50%;
    margin-left: -3px;
    z-index: 0;
}

/* Container around content */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    top: 30px;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    right: -26px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    border: 4px solid #FF9F55;
    top: 10px;
    border-radius: 50%;
    z-index: 1;
}

/*Images*/
.timeline-container:nth-of-type(1)::after {
    background-image: url('/img/invoice.webp');
    background-size: 70%;
}

.timeline-container:nth-of-type(2)::after {
    background-image: url('/img/send.webp');
    background-size: 60%;
}

.timeline-container:nth-of-type(3)::after {
    background-image: url('/img/work.webp');
    background-size: 70%;
}

.timeline-container:nth-of-type(4)::after {
    background-image: url('/img/chat.webp');
    background-size: 70%;
}

.timeline-container:nth-of-type(5)::after {
    background-image: url('/img/archive.png');
    background-size: 60%;
}

/* Place the container to the left */
.timeline-left {
    box-sizing: border-box;
    left: 0;
}

/* Place the container to the right */
.timeline-right {
    left: 50%;
    box-sizing: border-box;
}

/* Add arrows to the left container (pointing right) */
.timeline-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(0, 0, 0);
}

/* Add arrows to the right container (pointing left) */
.timeline-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(0, 0, 0) transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline-right::after {
    left: -26px;
}

/* The actual content */
.timeline-content {
    padding: 20px 30px;
    background-color: #eee;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 750px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure starting circle are at the same spot */
    .timeline::before {
        left: 20px;
    }

    /* Make sure all circles are at the same spot */
    .timeline-left::after,
    .timeline-right::after {
        left: 5px;
    }

    /* Make all right containers behave like the left ones */
    .timeline-right {
        left: 0%;
    }
}




/* Contact section */
#kontakt {
    margin: 1vh;
}

#kontakt>p {
    text-align: center;
    margin: -4vh auto 0;
    padding-bottom: 3vh;
    max-width: 900px;

}



/* Styles for the contact form container */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 900px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-form>h2,
.contact-info>h2 {
    margin-bottom: 5vh;
    font-size: 1.7rem;
}

/* Styles for the contact form */
.contact-form {
    flex-basis: calc(50% - 20px);
    max-width: 700px;
    padding: 20px;
}

/* Styles for the form groups */
.form-group {
    margin-bottom: 20px;
}

/* Styles for the form labels */
.form-group>label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

/* Styles for the form inputs */
input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;

}

/* Styles for the form submit button */
button[type="submit"] {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #45a049;
}

/* Styles for the contact info container */
.contact-info {
    flex-basis: calc(50% - 20px);
    max-width: 400px;
    background-color: #da7a31;
    box-sizing: border-box;
    padding: 20px;
    color: white;
}

/* Styles for the contact info list */
.contact-info>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;

}

/* Styles for the contact info list items */
.contact-info>ul>li {
    margin-bottom: 40px;
    display: flex;
    font-size: 1.2rem;
}


.contact-info>ul>li img {
    width: 28px;
    height: 28px;
    margin-right: 20px;
}




/* Media query for smaller screens */
@media screen and (max-width: 767px) {

    /* Adjust flex container to stack items vertically */
    .contact-container {
        flex-direction: column;
        margin: 2vh;
    }

    /* Adjust flex basis of form and contact info sections to be 100% width */
    .contact-form,
    .contact-info {
        flex-basis: 100%;
        max-width: 100%;
    }

    .contact-info {
        margin-top: 40px;
    }
}





/* Footer */

footer {
    color: #fff;
    background-color: #000000;
    padding: 40px;
    text-align: center;
    margin-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
}

.footer-item {
    flex-basis: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;

}

.footer-item>h3 {
    margin-bottom: 5px;

}

.footer-item>ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.footer-item>ul>li {
    height: 25px;
    line-height: 25px;
}

.footer-item>ul>li>a {
    text-decoration: none;
    color: #FFFF;
}

.copyright {
    text-align: center;
    margin-top: 60px;
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    .footer-item {
        flex-basis: 100%;
        /* set the flex-basis to 100% */
        max-width: 100%;
        /* set the max-width to 100% */
        margin: 25px 0;
        /* add vertical margin */
    }
}


/*Policy page*/

.policy-section {
    margin: 5vh auto;
    text-align: center;
    text-align: center;
    background-color: #e8e7e7;
}


.policy-section>p {
    padding: 2vh;
}



/* Cookie banner */
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f7f7f7;
    padding: 10px;
    z-index: 9999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.cookie-banner p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
}

.cookie-banner a {
    color: #0066cc;
    text-decoration: underline;
}

.cookie-accept-btn {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .cookie-banner p {
        font-size: 12px;
    }

    .cookie-accept-btn {
        font-size: 12px;
    }
}


/* AVDRAG */
.deduct-section {
    margin: 50px auto;
    max-width: 1000px;
    padding: 20px;
}

.deduct-section > h2, .deduct-section > div > h2 {
    margin-top: 35px;
}

.deduct-section > h3, .deduct-section > div > h3 {
    margin-top: 20px;
    font-size: 1.4rem;
}

.deduct-section > p, .deduct-section > div > p {
    font-size: 1.3rem;
    line-height: 1.5;
    
}

.deduct-header {
    padding: 5px;
    font-size: 2rem;
    text-align: center;
}

.deduct-list {
    margin-left: 50px;
    line-height: 1.8;    
}

.deduct-list > li > p {
    font-size: 1.3rem;
}


.deduct-links {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fb;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.deduct-links > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.deduct-links > ul > li {
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.deduct-links > ul > li > a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1.2rem;
}

.deduct-links > ul > li > a:hover {
    background-color: #ccced2;
    color: #ffffff;
}


.infobox {
    background-color: #da7a31;;
    color: white;
    border-radius: 5px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    max-width: 800px;
    border: 3px solid black;
}

.deduct-cost {
    scroll-margin-top: 80px;
}

.long-url {
    display: inline-block;
    color: #025ea4
}


@media screen and (max-width: 768px) {
    .deduct-section {
        padding: 10px;
        max-width: none;
    }

    .deduct-list {
        margin-left: 30px;    
    }

}